{% extends 'base.html' %}
{% load static %}
<html>
  <head>
      {% block title %}Home{% endblock %}
      {% block content %}
      <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">
  </head>
  <body>
    <div>
        <img src="{% static 'images/logo.png' %}" class="logo_img"><br>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">
            <button>
                Log out
            </button>
        </a>
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button>
                Log in
            </button>
        </a>
        {% endif %}
        {% endblock %}
    </div>
  </body>
</html>
