{% extends 'base.html' %}
{% load static %}
<html>
  <head>
      {% block title %}Home{% endblock %}
      {% block content %}
      <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">
  </head>

  <body style="text-align:center;">
    <img src="{% static 'images/logo.png' %}" class="logo_img"><br>
    {% if user.is_authenticated %}
    Hi {{ user.username }}!<br>
    <a href="{% url 'logout' %}">
        <button>
            Log out
        </button>
    </a>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">
        <button>
            Log in
        </button>
    </a><br>
    <a href="{% url 'signup' %}">
        <button>
            Sign up
        </button>
    </a>
    {% endif %}
    {% endblock %}
  </body>
</html>
