{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">
    </head>

    <body>

            {% block title %}Login{% endblock %}
            {% block content %}
            <div class="login_page">
                <h2>Log In</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button_acc">
                        Log In
                    </button>
                </form>
            <a href="{% url 'signup' %}">
                <button class="button_acc">
                    Sign up
                </button>
            </a>
            </div>
            {% endblock %}

    </body>
</html>

