{% extends 'base.html' %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}">
    </head>
    <body>
        <div>
            <img src="{% static 'images/logo.png' %}" class="logo_img"><br>
            {% block title %}
                Sign Up
            {% endblock %}
            {% block content %}
            <div class="signup_page">
                <h2>
                    Sign Up
                </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button_acc">
                        Sign Up
                    </button>
                </form>
            <a href="{% url 'login' %}">
                <button class="button_acc">
                    Back to Log in
                </button>
            </a>
            </div>
            {% endblock %}
        </div>
    </body>
</html>