{% extends 'posts/posts_base.html' %}
{% load static %}
{% block content %}
    <div class="adding_page">
            <form method="PUT">
                {% csrf_token %}
                <div>
                    {{ form.title.label_tag }}
                </div>
                <div>
                    {{ form.title }}
                </div>
                <div>
                    {{ form.post_content.label_tag }}
                </div>
                <div>
                    {{ form.post_content }}
                </div>
                <a href="{% url 'posts' %}">
                <button type="submit" style="width: 6%">
                    Submit
                </button>
                </a>
            </form>
    </div>
    <div style="text-align: center">
    <a href="{% url 'posts' %}">
        <button style="width: 6%">
            Posts
        </button>
    </a>
    </div>

{% endblock %}
