html {
    font-family: "Helvetica", "Verdana", sans-serif;
    background-color: #E6F2FF;
}

h2 {
    color: #660033;
}

button {
    background-color: #FFE6E6;
    padding: 13px 25px;
    text-align: center;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 10%;
}

input {
    background-color: #B3D9FF;
    text-align: left;
    border-radius: 10px;
    padding: 5px 5px;
    border: 1px solid #ccc;
}

.logo_img {
    margin: auto;
    display: grid;
    width: 30%;
    grid-area: header;
}

.posts_img {
    grid-column-start: auto;
    margin: auto;
    display: grid;
    width: 20%;
    grid-area: header;
}

.post_add {
    width: 30%;
    padding: 15px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.single_post {
    margin: 20px 20px;
}
